<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>组件中使用v-model</title>
  <script type="text/javascript" src="../lib/vue.js" ></script>
</head>
<body>
  <div id="app">
    父组件：<div>{{name}}</div>
    <div style="border:1px dashed blue;padding: 10px; margin-top: 10px;">
      <my-a ref="component_A" :name="name" v-model="name"></my-a>
    </div>
  </div>

  <template id="a">
    <div>
        <h3>A组件</h3>
        <h2>{{name}}</h2>
        <input v-model="childName" @input="$emit('input', $event.target.value)">
        
    </div>
  </template>
</body>
<script>
  window.onload = function(){
    let A = {
    template: "#a",
    props: [ 'name' ],
    data(){
      return {
        childName:this.name
      }
    },
    methods:{
      send(){

      }
    }
  }

  let vm = new Vue({
    el: '#app',
    data:{
      name:'父组件用户名',
      beautiful:'',
      value:''
    },
    methods:{

    },
    components:{
      'my-a':A
    }
  })
}
  
</script>
</html>